{% load staticfiles %}

<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            Blank Page <small>blank page</small>
        </h3>

        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                {% block content %}

                Page content goes here

                {% endblock content %}
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
