{% extends "reseller/base.html" %}


{% block page_title %}
    Add an Organization
{% endblock page_title %}


{% block content %}
<div class="col-md-6">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                {# <i class="icon-plus font-green"></i> #}
                <span class="caption-subject bold uppercase"> Fill out the form below</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" action="" method="post">

                {% csrf_token %}

                <div class="form-body">

                    {{ form.non_field_errors.as_text }}

                    <div class="form-group form-md-line-input {% if form.organization_name.errors %}has-error{% else %}form-md-floating-label{% endif %}">

                        {{ form.organization_name }}

                        <label for="id_organization_name">Name of the Organization</label>
                        <span class="help-block">{{ form.organization_name.errors.as_text }}</span>
                    </div>

                    <div class="form-group form-md-line-input {% if form.first_name.errors %}has-error{% else %}form-md-floating-label{% endif %}">

                        {{ form.first_name }}

                        <label for="id_first_name">Admin's First Name</label>
                        <span class="help-block">{{ form.first_name.errors.as_text }}</span>
                    </div>
                    <div class="form-group form-md-line-input {% if form.last_name.errors %}has-error{% else %}form-md-floating-label{% endif %}">

                        {{ form.last_name }}

                        <label for="id_last_name">Admin's Last Name</label>
                        <span class="help-block">{{ form.last_name.errors.as_text }}</span>
                    </div>
                    <div class="form-group form-md-line-input {% if form.email.errors %}has-error{% else %}form-md-floating-label{% endif %}">

                        {{ form.email }}

                        <label for="id_email">Email Address</label>
                        <span class="help-block">{{ form.email.errors.as_text }}</span>
                    </div>
                    <div class="form-group form-md-line-input {% if form.contact.errors %}has-error{% else %}form-md-floating-label{% endif %}">

                        {{ form.contact }}

                        <label for="id_contact">Contact Number</label>
                        <span class="help-block">{{ form.contact.errors.as_text }}</span>
                    </div>
                </div>
                <div class="form-actions noborder">
                    <button type="submit" class="btn blue">Add Organization</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script>
    $( document ).ready(function() {
        $( "#dashboard" ).removeClass( "active" );
        $( "#list_organizations" ).removeClass( "active" );
        $( "#add_organization" ).addClass( "active" );
    });
</script>

{# todo: edit this #}
<script type="text/javascript">
    {% if form.organization_name.errors %}
    $( document ).ready(function() {
        $( "#id_organization_name" ).addClass( "edited" );
    });
    {% endif %}

    {% if form.first_name.errors %}
    $( document ).ready(function() {
        $( "#id_first_name" ).addClass( "edited" );
    });
    {% endif %}

    {% if form.last_name.errors %}
    $( document ).ready(function() {
        $( "#id_last_name" ).addClass( "edited" );
    });
    {% endif %}

    {% if form.email.errors %}
    $( document ).ready(function() {
        $( "#id_email" ).addClass( "edited" );
    });
    {% endif %}

    {% if form.errors %}
    $( document ).ready(function() {
        $( "#id_organization_name" ).addClass( "edited" );
        $( "#id_first_name" ).addClass( "edited" );
        $( "#id_last_name" ).addClass( "edited" );
        $( "#id_email" ).addClass( "edited" );
        $( "#id_contact" ).addClass( "edited" );
        $( "#id_remarks" ).addClass( "edited" );
        $( "#id_organization_creation_limit" ).addClass( "edited" );
    });
    {% endif %}
</script>
{% endblock extrajs %}
