{% extends "reseller/base.html" %}


{% block page_title %}
    Settings
{% endblock page_title %}


{% block content %}

<div class="row">
    <div class="col-md-12">
        {% if messages %}
            {% for message in messages %}
            <div id="errorbox" class="alert alert-{{ message.tags }} text-center" role="alert">
                {# <button class="close" data-close="alert"></button> #}
                <span>{{ message }}</span>
            </div>
            {% endfor %}
        {% endif %}

        <br>
        <h2>Change Password</h2>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                {% include "useraccounts/password_change/password_change.html" %}
            </div>
        </div>
        <hr>

    </div>
</div>
{% endblock content %}
