{% load i18n %}
{% autoescape off %}
<html>
<body>
    <table>
        <tr>Hello {{ user.get_short_name }},<br></tr>
        <tr><br>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Passion.{% endblocktrans %}<br>
        </tr>
        <tr><br>{% trans "Please go to the following page and choose a new password:" %}
            <br>{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}<br>
        </tr>
        <tr><br>{% trans "Your username:" %} <strong>{{ user.get_username }}</strong><br></tr>
        <tr><br>{% trans "Thank you for using Passion." %}<br></tr>
        <tr><p><strong>Best wishes,</strong><br>CEO<br>Passion</p></tr>
    </table>
</body>
</html>
{% endautoescape %}
