{% extends "superadmin/base.html" %}

{% block page_title %}
    Settings
{% endblock page_title %}

{% block content %}

<div class="row">
    <div class="col-lg-4">
        {% if messages %}
            {% for message in messages %}
            <div id="errorbox" class="alert alert-{{ message.tags }} text-center" role="alert">
                {# <button class="close" data-close="alert"></button> #}
                <span>{{ message }}</span>
            </div>
            {% endfor %}
        {% endif %}

        {% include "useraccounts/password_change/password_change.html" %}
    </div>
</div>

{% endblock content %}

