{% extends "superadmin/base.html" %}


{% block page_title %}
    Add a Reseller
{% endblock page_title %}


{% block content %}
<div class="col-md-6">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                {# <i class="icon-plus font-green"></i> #}
                <span class="caption-subject bold uppercase"> Fill out the form below</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" action="" method="post">

                {% csrf_token %}

                <div class="form-body">

                    {{ form.non_field_errors }}

                    <div class="form-group form-md-line-input form-md-floating-label">

                        {{ form.first_name.errors }}

                        <input type="text" class="form-control" id="form_control_1" name="first_name">
                        <label for="form_control_1">First Name</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">

                        {{ form.last_name.errors }}

                        <input type="text" class="form-control" id="form_control_1" name="last_name">
                        <label for="form_control_1">Last Name</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="email" class="form-control" id="form_control_1">
                        <label for="form_control_1">Email Address</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" id="form_control_1">
                        <label for="form_control_1">Contact Number</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <textarea class="form-control" rows="3"></textarea>
                        <label for="form_control_1">Additional Info</label>
                        <span class="help-block">Optional</span>
                    </div>
                    <div class="form-group form-md-line-input has-info">
                        <select class="form-control" id="form_control_1">
                            <option value="1">1</option>
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="100">100</option>
                            <option value="1000">1000</option>
                        </select>
                        <label for="form_control_1">Organization Limit</label>
                        <span class="help-block display-show">{{ form.organization_creation_limit.help_text }}</span>
                    </div>
                </div>
                <div class="form-actions noborder">
                    <button type="button" class="btn blue">Add Reseller</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block extrajs %}
<script>
    $( document ).ready(function() {
        $( "#dashboard" ).removeClass( "active" );
        $( "#list_resellers" ).removeClass( "active" );
        $( "#add_reseller" ).addClass( "active" );
    });
</script>
{% endblock extrajs %}
