{% extends "layout/dashboard_base/base.html" %}

{% block notifications %}
{% endblock notifications %}

{% block messages %}
{% endblock messages %}

{% block user_settings %}
<li>
    <a href="{% url 'organization:settings' %}">
        <i class="icon-wrench"></i> Settings
     </a>
</li>

<li class="divider">
</li>
{% endblock user_settings %}

{% block sidebar %}

<li id="dashboard">
    <a href="{% url 'organization:home' %}">
        <i class="icon-home"></i>
        <span class="title">
            Dashboard
        </span>
    </a>
</li>

<li id="list_organizations">
    <a href="{% url 'organization:list_staff' %}">
        <i class="icon-list"></i>
        <span class="title">
            List Staff
        </span>
    </a>
</li>

<li id="add_organization">
    <a href="{% url 'organization:messages' %}">
        <i class="icon-user"></i>
        <span class="title">
            Messages
        </span>
    </a>
</li>

<li id="add_organization">
    <a href="{% url 'organization:analytics' %}">
        <i class="icon-user"></i>
        <span class="title">
            Analytics
        </span>
    </a>
</li>


{% endblock sidebar %}

{% block content %}
{% endblock content %}



